[Desktop Entry]
Type=Application
Name=LocalMsg
Comment=Messagerie sur réseau local
Exec=localmsg
Icon=localmsg
Categories=Network;Chat;
Terminal=false
StartupWMClass=com.sikander.localmsg
Version=1.0
